*{
	margin: 0;
	padding: 0;
	background-size: cover;
	font-family: sans-serif;
}

.main-div{
	display: flex;
}

/*---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Image Div Start @@@@@@@@@@@@@@@@@@@@@@@@@@@---*/

.img-div{
	margin-left: 100px;
	margin-top: 100px;
}

.shape-div{
	width: 400px;
	height: 400px;
	position: relative;
	background: linear-gradient(to bottom, pink, purple);
	border-radius: 50%;
	transform: rotate(30deg);
	animation: animation 3s infinite;
}

@keyframes animation{
	0%{
		transform: rotate(0);
	}

	100%{
		transform: rotate(360deg);
	}
}

.img img{
	width: 400px;
	height: 400px;
}

.img{
	position: absolute;
	top: 100px;
	left: 110px;
}

/*---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Image Div End @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@--*/





/*---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ About Div Start @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---*/
.about-div{
	margin-left: 100px;
	margin-top: 100px;
}


.about-div h2{
	font-size: 50px;
}



hr{
	width: 33%;
	color: pink;
	border: none;
	border-radius: 5px;
	border-top: 6px solid pink;
}



p{
	
	width: 80%;
}



.icon{
	margin: 0 5px;
	color: purple;
	padding: 10px;
	text-decoration: none;
	font-size: 25px;
	transition: all 1s ease-in-out;
}



.icon i:hover{
	color: pink;
	transform: translateY(-10px);
}



button{
	width: 25%;
	background-color: pink;
	padding: 15px;
	border: none;
	border-radius: 30px;
	cursor: pointer;
	transition: purple .5s ease-in-out, box-shadow .5s ease-in-out;
}

button:hover{
	color: white;
	box-shadow: inset 200px 0 0 0 purple;
	
}

/*---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ About Div End @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---*/






/*----@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Media Quary @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---*/

@media (min-width: 1281px) {
  
  img{
  	width: 23%;
  }
  
}


@media (min-width: 1025px) and (max-width: 1280px) {
  
  img{
  	width: 33%;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  
  .main-div{
  	display: block;
  }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  .main-div{
  	display: block;
  }
  
}



@media (min-width: 481px) and (max-width: 767px) {
  
 .main-div{
  	display: block;
  }
  .about-div h2{
  	text-align: center;
  }

  .about-div p{
  	text-align: center;
  }

  button{
  	width: 40%;
  	margin: 0 50px;
  }

  hr{
  	margin: 0 120px;
  }
  
}


@media (min-width: 320px) and (max-width: 480px) {
  
  .main-div{
  	display: block;
  }
  
  .shape-div{
  	width: 300px;
  	height: 300px;
  }

  .img img{
	width: 300px;
	height: 300px;
}

button{
	width: 50%;
}
}

@media (min-width: 220px) and (max-width: 320px) {
  
  .main-div{
  	display: block;
  }
  
  .shape-div{
  	width: 300px;
  	height: 300px;
  }

  .img img{
	width: 300px;
	height: 300px;
}

button{
	width: 75%;
}
 
}

/*---@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Media Quary End @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@---*/

